* {
    box-sizing: border-box;
    background-color: #3F3F3F;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: myFont;
    src: url(resources/pilated-font/PilatedfreeRegular-K7xPo.otf);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    margin-right: auto;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #f2f2f2;
    color: #3F3F3F;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}

button:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: #88C8CB;
    cursor: pointer;
}

a:hover {
    color: #C08C8C;
}

h1 {
    font-family: myFont;
    text-align: center;
    color: white;
}

p {
    font-family: 'Cutive Mono', monospace;
    color: white;
    font-size: 20px;
}

.content {
    margin-top: 100px;
}

#headshot {
    width: 350px;
    height: auto;
    margin-right: 40px; 
}


.aboutme {
    display: flex;
    margin: auto;
    max-width: 960px;
    align-items: center;

}


.projects {
    display: flex;
    margin: auto;
    max-width: 960px;
}

.skill_logos {
    max-height: 100px;
    max-width: auto;
    border-radius: 10%;
    margin: 10px;
    transition: 0.75s;
}

.skill_logos:hover {
    transform: scale(1.5);
}


.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
    
}

form {

}