* {
    background-color: #f2f2f2;
}
@font-face {
    font-family: myFont;
    src: url(resources/pilated-font/PilatedfreeRegular-K7xPo.otf);
}

h1 {
    font-family: myFont;
    text-align: center;
}

p {
    font-family: 'Cutive Mono', monospace;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
}

nav li{
    display: inline;
    margin-right: 20px;
    margin-top: 20px;
    float: right;   
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

#headshot {
    width: 350px;
    height: auto;
    border-radius: 10%;
}



.main {
    margin-top: 150px;
}

.aboutme {
    display: flex;
    margin: auto;
    max-width: 960px;
}


.projects {
    display: flex;
    margin: auto;
    max-width: 960px;
}

.skill_logos {
    max-height: 100px;
    max-width: auto;
    border-radius: 10%;
    margin: 10px;
}


.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    
}