* {
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    max-width: fit-content;
}
@font-face {
    font-family: myFont;
    src: url(resources/pilated-font/PilatedfreeRegular-K7xPo.otf);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    margin-right: auto;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #34495E;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

button:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none; 
    color: #9800a0;
}

a:hover {
    color: #01a049;
}

h1 {
    font-family: myFont;
    text-align: center;
}

p {
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    text-align: left;
}

.content {
    margin-top: 100px;
}

#headshot {
    width: 350px;
    height: auto;
    margin-right: 40px; 
}


.aboutme {
    display: flex;
    margin: auto;
    max-width: 960px;
    align-items: center;
}


.projects { 
    display: flex;
    margin: auto;
    max-width: 960px;
}

.skill_logos {
    max-height: 100px;
    max-width: auto;
    border-radius: 10%;
    margin: 10px;
    transition: ease;
}

.skill_logos:hover {
    transform: scale(1.5);
}


.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; 
}

footer p {
    margin-right: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 1680px) {
    * {
        max-width: fit-content;
    }

    header {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 480px) {
    * {
        max-width: fit-content;
    }

    .logo {
        justify-content: center;
    }       

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .content {
        margin-top: 200px;
    }

    .aboutme {
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        justify-content: center;
    }


    #headshot {
        width: 100px;
        height: auto;
        margin-bottom: 40px; 
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        max-width: 250px;
    }

    .skill_logos {
        max-height: 50px;
        max-width: auto;
    }

    footer {
        flex-wrap: wrap;
    }
    
}

@media only screen and (max-width: 1680px) {
    * {
        max-width: fit-content;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;

    }

    .skill_logos {
        max-height: 50px;
        max-width: auto;
    }

    footer {
        flex-wrap: wrap;
    }
}